<launch>
    <node name="trajectory_controller" pkg="hector_moveit_actions" type="trajectory_controller" respawn="false" output="screen"/>
    <node name="delivery_node" pkg="warehouse_delivery" type="warehouse_delivery" respawn="false" output="screen" launch-prefix="valgrind">
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    </node>
</launch>