# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.gv
*.pdf

# Testing Scripts
run_docker_local.sh
local_github_actions_test.sh

build
devel
logs
.vscode
.catkin_tools
.idea
.catkin_workspace
.DS_Store
*.properties
.obsidian
